.ScaleButtons {
  margin-right: 10%;
}

.ScaleButtons .btn-group-sm > .btn,
.ScaleButtons .btn-sm {
  padding: 0 0.3rem;
  font-size: 14px;
  border-radius: 0.2rem;
}
.ScaleButtons label {
  color: rgba(19, 116, 197, 1);
  border-color: rgba(19, 116, 197, 1);
}
.ScaleButtons.night label {
  color: rgba(64, 28, 161, 1);
  border-color: rgba(64, 28, 161, 1);
}

.ScaleButtons label:hover {
  color: #fff;
  background-color: rgba(19, 116, 197, 0.8);
  border-color: rgba(19, 116, 197, 1);
}

.ScaleButtons.night label:hover {
  color: #fff;
  background-color: rgba(64, 28, 161, 0.8);
  border-color: rgba(64, 28, 161, 1);
}
.ScaleButtons .btn-check:active + label,
.ScaleButtons .btn-check:checked + label,
.ScaleButtons label.active,
.ScaleButtons label:active {
  color: #fff;
  background-color: rgba(19, 116, 197, 0.8);
  border-color: rgba(19, 116, 197, 1);
}
.ScaleButtons.night .btn-check:active + label,
.ScaleButtons.night .btn-check:checked + label,
.ScaleButtons.night label.active,
.ScaleButtons.night label:active {
  color: #fff;
  background-color: rgba(64, 28, 161, 0.8);
  border-color: rgba(64, 28, 161, 1);
}
