.Temperature {
  line-height: 80px;
}
.Temperature strong {
  float: left;
  font-size: calc(48px + 1.5vw);
}
.Temperature .Temperature-unit {
  font-size: 18px;
  position: relative;
  top: -17px;
}

@media (max-width: 500px) {
  .Temperature strong {
    font-size: calc(36px + 1.5vw);
  }
  .Temperature .Temperature-unit {
    font-size: 16px;
  }
}
