.WeatherInfo h1 {
  margin-bottom: 0;
  line-height: 1.5;
}
.WeatherInfo ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.WeatherInfo ul.WeatherInfo-overview {
  margin-bottom: 20px;
}

.WeatherInfo-overview li.WeatherInfo-description::first-letter {
  text-transform: capitalize;
}
.WeatherInfo-main .WeatherIcon svg {
  float: left;
  margin-right: 5px;
}

@media (max-width: 500px) {
  .WeatherInfo-main .WeatherIcon svg {
    margin-right: 0;
    width: 70px;
  }
}
