.App {
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  #city-buildings {
    width: 70px;
  }
  .weather-main strong {
    font-size: calc(36px + 1.5vw);
  }
  ul.extra-info {
    font-size: 14px;
  }
  ul.extra-info span {
    font-size: 13px;
  }
}
