.Search {
  width: 70%;
  margin-left: 2%;
}

.Search form {
  display: flex;
  align-items: center;
}

.Search form .search-button {
  position: relative;
  top: 2px;
  left: -30px;
}
.Search form button {
  display: contents;
}
