.WeatherForecast {
  margin-top: 20px;
  text-align: center;
}
.WeatherForecastDay-day {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}
.WeatherForecastDay-temps {
  font-size: 13px;
}
.WeatherForecastDay-temp-lo {
  opacity: 0.6;
}
@media (max-width: 500px) {
  .WeatherForecastDay-day {
    font-size: 14px;
  }

  .WeatherForecastDay-temps {
    font-size: 12px;
  }

  .WeatherForecastDay svg {
    width: 30px;
    height: auto;
  }
  .WeatherForecast .col:last-child {
    display: none;
  }
}
